In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("../0_dataset_master/Experiment_edited_V7_rr_with_correction.xlsx")

In [5]:
data.Thermal.unique()

array(['NV fan 5', 'NV fan 0', 'NV fan 3', 'AC'], dtype=object)

In [8]:
# filter the data
data_filter = data[
    (data['Traffic noise levels']==55) & 
    ((data['Thermal']=="NV fan 0") | (data['Thermal']=="AC"))
    ]
data_filter.head()

,No,Start Date,End Date,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Experiment set,...,New_Start_Date,New_End_Date,Power VLF (ms2),Power LF (ms2),Power HF (ms2),Power Total (ms2),LF/HF,Fraction LF (nu),Fraction HF (nu),rr_mean
18,19,2023-07-10 13:48:07,2023-07-10 14:27:52,129.126.10.7,100,2384,True,2023-07-10 14:27:52,R_1ovQIAnKl4Zeuaq,set1,...,2023-07-10 14:08:00,2023-07-10 14:28:00,2447.393864,1762.902903,1204.222259,5414.519026,1.463935,59.414511,40.585489,852.516041
19,20,2023-07-10 14:09:42,2023-07-10 14:27:54,129.126.10.7,100,1092,True,2023-07-10 14:27:55,R_2BtSWZUf5SBivDm,set1,...,2023-07-10 14:08:00,2023-07-10 14:28:00,2447.393864,1762.902903,1204.222259,5414.519026,1.463935,59.414511,40.585489,852.516041
20,21,2023-07-10 14:10:23,2023-07-10 14:28:18,129.126.10.2,100,1074,True,2023-07-10 14:28:18,R_SPKruaxKbsHz7zj,set1,...,2023-07-10 14:08:00,2023-07-10 14:28:00,2447.393864,1762.902903,1204.222259,5414.519026,1.463935,59.414511,40.585489,852.516041
21,22,2023-07-10 14:09:42,2023-07-10 14:28:33,119.234.4.134,100,1130,True,2023-07-10 14:28:33,R_1E4ndddOtpdzvpU,set1,...,2023-07-10 14:08:00,2023-07-10 14:28:00,2447.393864,1762.902903,1204.222259,5414.519026,1.463935,59.414511,40.585489,852.516041
22,23,2023-07-10 14:10:29,2023-07-10 14:28:59,129.126.10.3,100,1110,True,2023-07-10 14:29:00,R_23giRddHeG356v7,set1,...,2023-07-10 14:08:00,2023-07-10 14:28:00,2447.393864,1762.902903,1204.222259,5414.519026,1.463935,59.414511,40.585489,852.516041

In [9]:
# Extract the data
data_filter.to_excel("data_extracted.xlsx", index=False)