In [1]:
import pandas as pd
from itertools import combinations,product

In [2]:
data_master = pd.read_excel("../0_dataset_master/Experiment_edited_V7_rr_with_correction.xlsx")
data_master.head()

,No,Start Date,End Date,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Experiment set,...,New_End_Date,Power VLF (ms2),Power LF (ms2),Power HF (ms2),Power Total (ms2),LF/HF,Fraction LF (nu),Fraction HF (nu),rr_mean,pmv
0,1,2023-07-10 10:18:12,2023-07-10 11:02:50,129.126.10.3,100,2677,True,2023-07-10 11:02:50,R_1QKIHfH2SzDYww5,set1,...,2023-07-10 11:05:00,2038.691441,1878.641717,874.282355,4791.615513,2.148781,68.241683,31.758317,884.113291,0.96
1,2,2023-07-10 09:07:40,2023-07-10 11:03:41,129.126.10.6,100,6961,True,2023-07-10 11:03:42,R_3oZ1X5rJydNMWKi,set1,...,2023-07-10 11:05:00,2038.691441,1878.641717,874.282355,4791.615513,2.148781,68.241683,31.758317,884.113291,1.01
2,3,2023-07-10 09:09:15,2023-07-10 11:03:52,129.126.10.8,100,6877,True,2023-07-10 11:03:53,R_3nvGWRYoFKSgygt,set1,...,2023-07-10 11:05:00,2038.691441,1878.641717,874.282355,4791.615513,2.148781,68.241683,31.758317,884.113291,-0.01
3,4,2023-07-10 10:18:07,2023-07-10 11:04:08,119.234.4.134,100,2761,True,2023-07-10 11:04:09,R_2U4WrS8qQBMNLbH,set1,...,2023-07-10 11:05:00,2038.691441,1878.641717,874.282355,4791.615513,2.148781,68.241683,31.758317,884.113291,0.15
4,5,2023-07-10 10:45:42,2023-07-10 11:05:05,119.56.107.228,100,1163,True,2023-07-10 11:05:06,R_2EhPoNBA5xgmC4D,set1,...,2023-07-10 11:05:00,2038.691441,1878.641717,874.282355,4791.615513,2.148781,68.241683,31.758317,884.113291,0.96

In [3]:
thermalUnique = list(data_master.Thermal.unique())
thermalCombin = combinations(thermalUnique,2)
thermalCombin = list(thermalCombin)
# print(thermalCombin)

TNLUnique = list(data_master['Traffic noise levels'].unique())
TNLCombin = combinations(TNLUnique,2)
TNLCombin = list(TNLCombin)
# print(TNLCombin)

TNLUnique.sort()
# print(TNLUnique)
firstProduct = product(TNLUnique[1:], thermalCombin)
firstProduct = list(firstProduct)

secondProduct = product(thermalUnique, TNLCombin)
secondProduct = list(secondProduct)

In [8]:
import statsmodels.formula.api as smf
from statsmodels.stats.mediation import Mediation

for item in firstProduct:
    # print(item)
    # if item[1]==('NV fan 3', 'NV fan 0') or item[1]==('NV fan 0', 'NV fan 3'):
    sliced_data = data_master[(data_master['Traffic noise levels']==item[0]) & ((data_master['Thermal']==item[1][0]) | (data_master['Thermal']==item[1][1]))]
    mediate = smf.mixedlm("ThermalSatisfaction ~ SET",  data=sliced_data, groups=sliced_data['subid'])
    full_ = smf.mixedlm('DoubleTrouble_average ~ ThermalSatisfaction + SET',  data=sliced_data, groups=sliced_data['subid'])
    # complete_ = Mediation(full_, mediate, 'SET', mediator = 'ThermalSatisfaction').fit()
    # print(complete_.summary())
    # break

print()

for item in secondProduct:
    if item[0] != "AC" and 45 in item[1]:
        continue
    # print(item)
    try:
        sliced_data = data_master[(data_master['Thermal']==item[0]) & ((data_master['Traffic noise levels']==item[1][0]) | (data_master['Traffic noise levels']==item[1][1]))]
        mediate = smf.mixedlm("ThermalSatisfaction ~ SET",  data=sliced_data, groups=sliced_data['subid'])
        full_ = smf.mixedlm('DoubleTrouble_average ~ ThermalSatisfaction + SET',  data=sliced_data, groups=sliced_data['subid'])
        # complete_ = Mediation(full_, mediate, 'SET', mediator = 'ThermalSatisfaction').fit()
        # print(complete_.summary())
    except ValueError:
        print(item)
        print(sliced_data)